<h1>FileUpload#new</h1>
<p>Find me in app/views/file_upload/new.html.erb</p>

<%= multipart_uploader_form(input_name: 'video_file',
                            uploader: 'VideosUploader',
                            button_class: 'submit-button',
                            button_text: 'Upload selected videos',
                            html: %Q{<button class="upload-button">Select videos</button>}) %>
